<h3>Welcome to</h3>
<h3>Panaderya ni Aling Nena™</h3>
<%= link_to 'Add Products', items_path, class: "btn btn-warning btn-lg w-25 mx-auto mt-2" %>
<div class="container p-5">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card-deck">
          <div class="card">
            <% if item.item_code == 'VS5'%>
              <img class="card-img-top" src="https://www.stayathomemum.com.au/cache/860x380-0/wp-content/uploads/2011/07/Cheesy-Vegemite-Scrolls-6-edited-e1611117211462.jpg" alt="VS5">
            <% elsif item.item_code == 'MB11'%>
              <img class="card-img-top" src="https://www.biggerbolderbaking.com/wp-content/uploads/2020/05/Bakery-Style-Lemon-Blueberry-Muffins-WS-Thumbnail.jpg" alt="MB11">
            <% elsif item.item_code == 'CF' %>
              <img class="card-img-top" src="https://www.bakingbusiness.com/ext/resources/2020/4/Croissant.jpg" alt="MB11">
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= item.item_name %> <%= item.item_code %></h5>
              <% quantity_array=[] %>
              <% item.packs.each do |list| %>
                <% quantity_array.push(list.quantity) %>
                <h6><%= list.quantity %> for <%= number_to_currency(list.price)%></h6>
              <% end %>
              <p><%= quantity_array.sort! { |a, b| b <=> a }  %></p>
              <% if item.item_code == 'VS5'%>
                <p class="card-text">Mapapa-WOW! ka sa sarap! kahit abutin ng isang linggo, walang amag!</p>
              <% elsif item.item_code == 'MB11'%>
                <p class="card-text">Kapag kumain ka neto! daig mo pang nanalo sa lotto!</p>
              <% elsif item.item_code == 'CF' %>
                <p class="card-text">Simpleng tinapay lang, pero mabangis, mas mabango pa sa hindi naligong misis.</p>
              <% end %>
              <%= form_tag get_price_path, remote: true, method: :get do %>
                <%= hidden_field_tag :item_id, item.id %>
                <%= hidden_field_tag :item_code, item.item_code %>
                <%= number_field_tag :quantity, params[:quantity], placeholder: 'Enter Quantity', min: '1', max: '100', class: "form-control" %>
                <%= button_tag "Get Price", class: "btn btn-primary mt-2 mt-3"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div id="price_result">
      </div>
    </div>
  </div>
</div>
