<h3>Welcome to</h3>
<h3>Panaderya ni Aling Nena™ Packs Calculator</h3>
<p>An App for per packs price calculation</p>
<%= link_to 'Add Products', items_path, class: "btn btn-warning btn-lg w-25 mx-auto mt-2" %>
<div class="container p-5">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card-deck">
          <div class="card">
            <%= image_tag ('bread.svg'), class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= item.item_name %></h5>
              <h5 class="card-title"><%= item.item_code %></h5>
              <% quantity_array=[] %>
              <% item.packs.each do |list| %>
                <% quantity_array.push(list.quantity) %>
                <h6><%= list.quantity %> for <%= number_to_currency(list.price)%></h6>
              <% end %>
              <%= form_tag get_price_path, id: item.item_code, remote: true, method: :get do %>
                <%= hidden_field_tag :item_id, item.id %>
                <%= hidden_field_tag :item_code, item.item_code %>
                <%= number_field_tag :quantity, params[:quantity], placeholder: 'Enter Quantity', min: '1', max: '100', class: "form-control" %>
                <%= button_tag "Get Price", class: "btn btn-primary mt-2 mt-3" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div id="price_result">
      </div>
    </div>
  </div>
</div>
